.attribution { font-size: 15px; text-align: center; margin-top: 20px;}
.attribution a { color: hsl(228, 45%, 44%); }

body{
  background-color: white;
  text-align: center;
}
.firstdi{
  background-color: hsl(212, 45%, 89%);
  height: 1000px;
  margin: auto;
  width: 1440px;
}
h2{
  font-weight: 700;
  font-size: 17px;
  padding: 0 30px 0 30px;
}
p{
  font-weight: 400;
  font-size: 15px;
  padding: 0px 10px 0 10px;
}
.seconddi{
  background-color: white;
  border-radius: 20px;
  height: 400px;
  position: relative;
  left: 600px;
  top: 100px;
  bottom: 100px;
  width: 250px;

}
.qr-image{
  border-radius: 20px;
  height: 230px;
  margin-top: 10px;
  width: 230px;

}
